.container{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    height: 100%;
}

.height100{
    height: 100%;
}

.bkAuto{
    margin: 0 auto;;
}

// fontSices
.font40{
    font-size: 40px !important;
}

.font30{
    font-size: 30px !important;
}

.font25{
    font-size: 25px !important;
}

.font20{
    font-size: 20px !important;
}
.txtAlgCent{
    text-align: center;
}
 .mgTop10{
     margin-top: 10px;
 }

.btModal{
    background-color: @cabeceraModal !important;
    float: right;
    margin-top: 5px;
}

.iconoCarpeta{
    font-size: 100px !important;
    color: @cabeceraModal;
    height: 100px;
}

.fltLeft{
    float: left;
}
