.container{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    height: 100%;
}

.height100{
    height: 100%;
}

.bkAuto{
    margin: 0 auto;;
}

.relative{
    position:relative;
}

// fontSices
.font40{
    font-size: 40px !important;
}

.font30{
    font-size: 30px !important;
}

.font25{
    font-size: 25px !important;
}

.font20{
    font-size: 20px !important;
}
.alingCenter{
    text-align: center;
}
.alingLeft{
    text-align: left;
}
 .mgTop10{
     margin-top: 10px;
 }

.btModal{
    background-color: @cabeceraModal !important;
    margin-top: 5px;
}

.fltLeft{
    float: left;
}
.main-block-loading{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
}
