.bgFotos{
    background-color: @fondoFotos;
    color:@blanco;
}

// Pagina principal Fotos
.iconoCarpeta{
    font-size: 150px !important;
    color: @cabeceraModal;
    height: 100px;
    text-shadow: 2px 2px #ff0000;
}

.iconoFotoGrande{
    font-size: 130px !important;
    color: @cabeceraModal;
    height: 100px;
    text-shadow: 2px 2px #ff0000;
}

.contetIconFoto{
    margin-top: 240px;
}
.contetIconLupa{
    margin-top: 180px;
    text-align: right;
}

.iconMasCarpetas{
    position: absolute;
    font-size: 65px;
    top:47px;
    left:46px;
    color:  @fondoFotos;
}
.iconMasFotos{
    position: absolute;
    font-size: 50px;
    top:53px;
    left:68px;
    color:  @fondoFotos;
}

.add{
    overflow: hidden;
    .cabecera{
        border-bottom:3px solid;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
    md-content.md-default-theme, md-content{
        background-color: @fondoFotos !important;
        color:@cabeceraModal;
        border: 3px solid @cabeceraModal;
    }
}

.search{
    overflow: hidden;
    .cabecera{
        border-bottom:3px solid;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
    md-content.md-default-theme, md-content{
        background-color: @fondoFotos !important;
        color:@cabeceraModal;
        border: 3px solid @cabeceraModal;
        height: 500px;
    }
}

.contPrinc{
    md-content.md-default-theme, md-content{
        background-color: @fondoFotos !important;
        color:@cabeceraModal;
        text-align: center;
    }
    .fuentePrinc{
        font-size: 160px;
        font: bold;
        font-family: serif;
        font-style: oblique;
        text-shadow: 2px 2px #ff0000;
        opacity: 0.5;
    }
    .fuentePrinc1{
        font-size: 200px;
        font: bold;
        font-family: serif;
        font-style: oblique;
        text-shadow: 2px 2px #ff0000;
        opacity: 0.5;
    }
}

.mgTop100{
    margin-top: 100px;
}
.mgTop70{
    margin-top: 70px;
}

// Contenedor principal

// Contenedor search
// .search{
//     border:3px solid;
//     margin-left: 5%;
// }

.iconoCarpetaSearch{
    font-size: 100px !important;
    color: @cabeceraModal;
    height: 100px;
}







.estilosFormularioSearch{
    border: 3px solid;
    margin-left: 5%;
}
.subContBusq{
    clear:both;
    float: left;
    width: 100%;
}
.contCarpeta{
    float: left;
    width: 25%;
}

.formatoLista{
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    i{
        font-size:24px !important;
    }
}

.md-block{
    i{
        font-size:20px !important;
        padding: 3px;
    }
}

.numFotos{
    position: absolute;
    top:50px;
    left:47px;
}

.contenedorListaFotos{
    margin: 5px 0 0 15px;
    font-size: 14px;
    opacity: 0.7;
    i{
        font-size:20px !important;
    }
}

.contenedorFoto{
    width: 100%;
    height: 130px;
    background-color: @cabeceraModal;
    img{
        height: 100%;
    }

}

.contenedorResultados{
    margin-top: 20px;
    height: 297px;
    overflow: auto;
}

.info-user-invalidMsg{
    padding-top: 10px;
    border:2px solid #ec0000;
    background-color: rgba(255, 32, 32, 0.15);
    color: #ec0000;

}


.info-user-validMsg{
    padding-top: 10px;
    border:2px solid green;
    background-color: rgba(0, 128, 0, 0.15);
    color: green;
}

.divMensaje{
    margin-top: 3px;
}

.fotoPend{
    color: rgba(0,0,0,0.38) !important;
    font-weight: bold;
}

.fotoAgreg{
    color: green !important;
    font-weight: bold;
}
.imgEditarFoto{
    width: 90%;
}
