.bgFotos{
    background-color: @fondoFotos;
    color:@blanco;
}
.contenedorFotos{

}

.contenedorIcons{
    border:3px solid;
    padding: 7px;
}
.pseudoBoton{
    border:3px solid;
    border-left: none;
    line-height: 50px;
    text-align: center;
}
