.bgInicio{
    background-color: @fondoInicio;
    color:@blanco;
}
.pointer{
    cursor: pointer;
}

.contenedorInicio {
    clear: both;
    float: left;
    width: 100%;
}

.contenedorPaginas{
    height: 260px;
}

.contSeccion {
    float: left;
    width: 25%;
    margin-top: 20px;
    span{

    }
}
.iconosInicio{
    font-size: 180px;
    padding: 25px 40px 10px;
}
.colorMarron{
    color:@fondoInicio;
}

.nombreSeccionClass{
    text-align: center;
    font-size: 30px;
}
