md-content{
    padding: 0;
}

md-tabs{
    height: 100%;
}
md-tabs-wrapper{
    background-color: @verdeCabecera !important;
    // .tabModal{
    //     background-color: @blanco !important;
    // }
}


md-tabs-wrapper, md-tabs-canvas, md-pagination-wrapper{
    height: 70px;
}
md-pagination-wrapper{
    position: relative;
    float: right;
}
md-tabs-content-wrapper{
    top:70px;
}
md-tab-item{
    list-style: 50px;
}
md-ink-bar{
    height: 15px;
}

md-toolbar{
    background-color: @cabeceraModal !important;
}

md-input-container{
    margin: 15px 0 0;
}
md-checkbox{
    margin-bottom: 0px !important;
}
.md-select-value {
    color: rgba(0,0,0,0.38) !important;
    font-weight: bold;
}
.tabModal{
    md-tabs-wrapper{
        background-color: @fondoFotos !important;
    }
    md-pagination-wrapper{
        width: 100%;
    }
    md-tab-item{
        width: 50%;
    }
    md-ink-bar{
        height: 8px;
        background-color: @cabeceraModal;
    }
    md-tabs-wrapper, md-tabs-canvas, md-pagination-wrapper{
        height: 50px;
        background-color: @fondoFotos !important;
    }
    md-content.md-default-theme, md-content{
        background-color: @fondoFotos !important;
    }


}

// .add{
//     md-input-container label {
//         color: rgba(0,0,0,0.38) !important;
//     }
//     md-input-container.md-input-invalid .md-input {
//         border-color:  rgba(0,0,0,0.12) !important;
//     }
//     md-input-container.md-input-invalid label {
//         color: green !important;
//     }
// }
