<md-content class="height100 bgInicio" flex layout-padding>

            <span >
                <a href="#tab2">
                Fotos</a></span>
                <div class="md-accent" md-selected="data.selectedIndex" md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}">
                    <div class="height100" id="tab1">
                        <div>Inicio</div>

                    </div>
                    <div class="height100" id="tab2" ng-disabled="data.secondLocked">
                        <div ng-click="next">Fotos</div>
                    </div>
                    <div class="height100" id="tab3">
                        <div>Item Three</div>
                    </div>



                </div>
</md-content>
