<md-content class="height100 bgInicio" flex layout-padding>
    <div class="contenedorInicio">
        <div flex="25" class="contSeccion relative" ng-repeat="seccion in secciones">
            <div flex="80" class="contenedorPaginas bkAuto {{seccion.bgSection}} pointer" ng-click="goTo(seccion.secion)">
                <i class="fa {{seccion.icono}} iconosInicio {{seccion.colorIcono}}" aria-hidden="true"></i>
                <div class="nombreSeccionClass {{seccion.colorIcono}}" flex="100">{{seccion.nombreSeccion}}</div>
            </div>
        </div>
    </div>

</md-content>
