<div flex="90" class="search bkAuto " ng-controller="fotosCtrl">
        <md-content class="md-padding">
            <div class="cabecera md-padding" >
                <span>Buscar Carpetas</span>
            </div>
            <div layout="row" layout-align="center center" class="main-block-loading" ng-if="loading">
                <div flex="5">
                   <md-progress-circular md-mode="indeterminate"></md-progress-circular>
               </div>
            </div>
            <div  class="md-padding">
                <md-input-container flex="100" class="md-block">
                    <label>Busca carpeta</label>
                    <input flex="90" ng-model="buscadorFotos">
                    <span flex="10" ng-click="formatoIconsFunc()"><i class="fa fa-th-large" aria-hidden="true"></i></span>
                    <span flex="10" ng-click="formatoListaFunc()"><i class="fa fa-th-list" aria-hidden="true"></i></span>
                </md-input-container>
                <div  flex="100" class="mgTop10"  ng-if="mensaje.show">
                    <md-whiteframe flex="100" class="info-user-invalidMsg block-auto" ng-class="{'info-user-validMsg' : mensaje.classMsg, 'info-user-invalidMsg' : !mensaje.classMsg}" layout margin layout-align="center center">
                        <p>{{mensaje.texto}}</p>
                    </md-whiteframe>
                </div>
                <div class="contenedorResultados">
                    <div class="subContBusq" ng-show="formatoIcons">
                        <div flex="25" layout-padding  class="bkAuto alingCenter contCarpeta relative" ng-repeat="carpeta in carpetasFotos | filter:buscadorFotos" ng-click="mostarModalFotos(carpeta)">
                            <i class="fa fa-folder-o iconoCarpetaSearch" aria-hidden="true"></i><br>
                            <div class="numFotos">
                                <span ng-if="(carpeta.archivos | objectKeysLength) > 0">{{ carpeta.archivos | objectKeysLength }}</span>
                                <span ng-if="carpeta.archivos===udefined">0</span>
                                <span>Fotos</span>
                            </div>
                            <span>{{carpeta.titulo}}</span>

                        </div>
                    </div>
                    <div class="formatoLista" ng-show="formatoLista" ng-repeat="carpeta in carpetasFotos | filter:buscadorFotos" ng-init="carpeta.expanded=false">
                        <div layout="row" class="" layout-wrap ng-click="carpeta.expanded=!carpeta.expanded" ng-dblclick="mostarModalFotos(carpeta)">
                            <i flex="5" class="fa fa-folder " aria-hidden="true" ng-class="{'fa-folder': !carpeta.expanded, 'fa-folder-open': carpeta.expanded}"></i>
                            <div flex="45" >{{ carpeta.titulo }}</div>
                            <div flex="15" ng-if="(carpeta.archivos | objectKeysLength) > 0">{{ carpeta.archivos | objectKeysLength }} Fotos</div>
                            <div flex="15" ng-if="carpeta.archivos===udefined">0 Fotos</div>
                            <div flex="15" >{{ carpeta.fechaCarpeta }}</div>
                            <div flex="10" class="alingCenter"><i class="fa fa-trash" aria-hidden="true" ng-click="eliminarCarpeta(carpeta)"></i></div>
                            <div flex="10" class="alingCenter"><i class="fa fa-pencil" ng-click="editarCarpeta(carpeta)"></i></div>
                        </div>
                        <div layout="row"  class="contenedorListaFotos" layout-wrap ng-repeat="foto in carpeta.archivos" ng-show="carpeta.expanded">
                            <i flex="5" class="fa fa-file-image-o" aria-hidden="true"></i>
                            <div flex="45" >{{ foto.tituloFoto }}</div>
                            <div class="alingLeft" flex="15" >
                                <a ng-click="verFoto(carpeta,$index)">Ver foto</a>
                            </div>
                            <div flex="15" >{{ foto.fechaFoto }}</div>
                            <div flex="10" class="alingCenter"><i class="fa fa-trash" aria-hidden="true" ng-click="eliminarFoto(carpeta, foto)"></i></div>
                            <div flex="10" class="alingCenter"><i class="fa fa-pencil" ng-click="editarFoto(carpeta, foto, carpetasFotos)"></i></div>
                        </div>
                    </div>
                </div>

        </md-content>
</div>
